@model StudentManagement.Models.Student

<h2>Add Student</h2>

<form method="post">
    <input asp-for="Name" placeholder="Name" /><br />
    <input asp-for="Course" placeholder="Course" /><br />
    <input asp-for="Age" placeholder="Age" /><br />
    <button type="submit">Save</button>
</form>